<form [formGroup]="form" class="dialog-wrapper">
  <div class="dialog-header">
    <div class="title">
      បង្កើតគណនី
    </div>
    <div class="flex1"></div>
    <a mat-dialog-close class="close-dialog" (click)="dialogRef.close('no')">
      <i class="material-icons">&#xE14C;</i>
    </a>
  </div>

  <div class="dialog-content">
    <div class="form-wrapper">
      <div class="ui form">
        <div class="f-two field">
          <div class="field">
            <label>នាមត្រកូល
              <span class="rq-sign">*</span>
            </label>
            <input #focusInput type="text" placeholder="បញ្ចូលនាមត្រកូល" required formControlName="last_name">
            <div *ngIf="form.controls['last_name'].hasError('required') && form.controls['last_name'].touched"
              class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
          </div>
          <div class="field">
            <label>ឈ្មោះដំបូង
              <span class="rq-sign">*</span>
            </label>
            <input type="text" placeholder="បញ្ចូលឈ្មោះដំបូង" required formControlName="first_name">
            <div *ngIf="form.controls['first_name'].hasError('required') && form.controls['first_name'].touched"
              class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
          </div>
        </div>
        <div class="f-two field">
          <div class="field">
            <label>តំណែង<span class="rq-sign">*</span></label>
            <mat-select formControlName="position" [compareWith]="compareObjects">
              <mat-option *ngFor="let pro of positionList" [value]="pro">
                {{ pro.name }}
              </mat-option>
            </mat-select>
            <div *ngIf="form.controls['position'].hasError('required') && form.controls['position'].touched"
              class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
          </div>
          <div class="field">
            <label>ងារ<span class="rq-sign">*</span></label>
            <mat-select formControlName="title" [compareWith]="compareObjects">
              <mat-option *ngFor="let pro of titleList" [value]="pro">
                {{ pro.name }}
              </mat-option>
            </mat-select>
            <div *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched"
              class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
          </div>
        </div>
        <div class="f-two field">
          <div class="field">
            <label>ភេទ<span class="rq-sign">*</span></label>
            <mat-select formControlName="gender" [compareWith]="compareObjects">
              <mat-option *ngFor="let pro of genderList" [value]="pro">
                {{ pro.text }}
              </mat-option>
            </mat-select>
            <div *ngIf="form.controls['gender'].hasError('required') && form.controls['gender'].touched"
              class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
          </div>
          <div class="field">
            <label>ថ្ងៃ ខែ ឆ្នាំ កំណើត<span class="rq-sign">*</span></label>
            <div class="mixfeild">
              <input type="text" date="true" (click)="dobpicker2.open()" formControlName="dob"
                [matDatepicker]="dobpicker2" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="dobpicker2"></mat-datepicker-toggle>
              <mat-datepicker #dobpicker2></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="f-two field">
          <div class="field">
            <label>អ៊ីមែល
              <span class="rq-sign">*</span>
            </label>
            <input type="text" placeholder="បញ្ចូលអ៊ីមែល" required formControlName="email">
            <div *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
              class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
          </div>
          <div class="field">
            <label>លេខទូរស័ព្ទ
              <span class="rq-sign">*</span>
            </label>
            <input type="text" placeholder="បញ្ចូលលេខទូរស័ព្ទ" required formControlName="phone">
            <div *ngIf="form.controls['phone'].hasError('required') && form.controls['phone'].touched"
              class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
          </div>
        </div>
        <div class="f-two field">
          <div class="field">
            <label>គណនីហ្វេសប៊ុក
            </label>
            <input type="text" placeholder="បញ្ចូលគណនីហ្វេសប៊ុក" formControlName="facebook">
          </div>
          <div class="field">
            <label>គណនីតេលេក្រាម
            </label>
            <input type="text" placeholder="បញ្ចូលគណនីតេលេក្រាម" formControlName="telegram">
          </div>
        </div>
        <div class="field">
          <label>តួនាទី<span class="rq-sign">*</span></label>
          <mat-select formControlName="role" [compareWith]="compareObjects">
            <mat-option *ngFor="let pro of roleList" [value]="pro">
              {{ pro.text }}
            </mat-option>
          </mat-select>
          <div *ngIf="form.controls['role'].hasError('required') && form.controls['role'].touched"
            class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
        </div>

        <div class="field">
          <label>ខេត្ត <span class="rq-sign">*</span></label>
          <input type="text" [matAutocomplete]="autoProvince" placeholder="ជ្រើសរើសខេត្ត" formControlName="province">
          <mat-autocomplete (optionSelected)="_onSelectedProvince($event)" #autoProvince="matAutocomplete"
            [displayWith]="displayItem">
            <mat-option *ngFor="let state of filteredStatesProvince | async" [value]="state">
              {{state?.name }}
            </mat-option>
          </mat-autocomplete>
          <div class="error-message" *ngIf="province.hasError('validKey')">
            <div>អ្នកអាចជ្រើសរើសបាននៅក្នុងទិន្នន័យនេះតែប៉ុណ្ណោះ</div>
          </div>
          <div *ngIf="form.controls['province'].hasError('required') && form.controls['province'].touched"
            class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
        </div>
        <div class="field">
          <label>ស្រុក<span class="rq-sign">*</span></label>
          <input type="text" [matAutocomplete]="autoDistrict" placeholder="ជ្រើសរើសស្រុក" formControlName="district">
          <mat-autocomplete (optionSelected)="_onSelectedDistrict($event)" #autoDistrict="matAutocomplete"
            [displayWith]="displayItem">
            <mat-option *ngFor="let state of filteredStatesDistrict | async" [value]="state">
              {{state?.name }}
            </mat-option>
          </mat-autocomplete>
          <div class="error-message" *ngIf="province.hasError('validKey')">
            <div>អ្នកអាចជ្រើសរើសបាននៅក្នុងទិន្នន័យនេះតែប៉ុណ្ណោះ</div>
          </div>
          <div *ngIf="form.controls['province'].hasError('required') && form.controls['province'].touched"
            class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
        </div>
        <div class="field">
          <label>ឃុំ <span class="rq-sign">*</span></label>
          <input type="text" [matAutocomplete]="autoCommune" placeholder="ជ្រើសរើសឃុំ" formControlName="commune">
          <mat-autocomplete #autoCommune="matAutocomplete" [displayWith]="displayItem">
            <mat-option *ngFor="let state of filteredStatesCommune | async" [value]="state">
              {{state?.name }}
            </mat-option>
          </mat-autocomplete>
          <div class="error-message" *ngIf="province.hasError('validKey')">
            <div>អ្នកអាចជ្រើសរើសបាននៅក្នុងទិន្នន័យនេះតែប៉ុណ្ណោះ</div>
          </div>
          <div *ngIf="form.controls['province'].hasError('required') && form.controls['province'].touched"
            class="error-message">ចន្លោះ​នេះ​ត្រូវតែ​បំពេញ</div>
        </div>
        <div class="field">
          <label>អាសយដ្ឋានលំអិត</label>
          <textarea formControlName="description" placeholder="បញ្ចូលអាសយដ្ឋានលំអិត" cols="30" rows="5"></textarea>
        </div>
        <div class="field">
          <label>ការពិពណ៌នាខ្លី</label>
          <textarea formControlName="description" placeholder="បញ្ចូលការពិពណ៌នា" cols="30" rows="5"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-footer">
    <div class="flex1"></div>
    <a mat-dialog-close class="enbutton cancel m-r16" (click)="dialogRef.close('no')">បោះបង់</a>
    <button type="submit" class="enbutton primary m-r16" [disabled]="!form.valid || store?.process"
      (click)="create(form.value,true)">រក្សាទុកនិងថ្មី</button>
    <button class="enbutton primary m-r16" [disabled]="!form.valid || store?.process"
      (click)="create(form.value,false)">រក្សាទុកនិងបិទ</button>
  </div>
  <app-spinner *ngIf="store?.process"></app-spinner>
</form>