<div class="dialog-wrapper">
  <div class="dialog-header">
      <div class="title">
          Reset password
      </div>
      <div class="flex1"></div>
      <button mat-button mat-icon-button>
          <mat-icon aria-label="close" (click)="dialogRef.close('no')">close</mat-icon>
      </button>
  </div>
  <div class="dialog-content">
      <form [formGroup]="form" class="form-wrapper">
          <div class="ui form">
              <div class="field">
                  <label>Email</label>
                  <input type="email" cdkFocusInitial required class="lg-input" placeholder="Enter your email" formControlName="email">
                  <div *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="error-message">Email is required.</div>
              </div>
          </div>
      </form>
  </div>
  <div class="dialog-footer">
      <div class="flex1"></div>
      <button mat-dialog-close class="enbutton cancel m-r16">Cancel</button>
      <button type="submit" class="enbutton primary" [disabled]="!form.valid" cdkFocusInitial (click)="create(form.value)">OK</button>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>

</div>