
<div class="dialog-wrapper">
  <div class="dialog-header">
    <div class="title">
      {{modal_title}}
    </div>
    <div class="flex1"></div>
    <a mat-dialog-close class="close-dialog"  (click)="dialogRef.close('no')">
      <i class="material-icons">&#xE14C;</i>
    </a>
  </div>
  <div class="dialog-content">
    <div class="form-content">
      <div class="aside-warning">
        <i class="material-icons">warning</i>
        <span>
          {{subtitle}}
        </span>
      </div>
    </div>
  </div>
  <div class="dialog-footer">
    <div class="flex1"></div>
    <button mat-dialog-close type="button" class="enbutton cancel"  mat-button (click)="dialogRef.close('no')">Close</button>
  </div>
</div>
