<nav class="nav-header">
    <div class="app-container">
        <div class="brand-name" [routerLink]="['/app']">
            <img src="../../../assets/images/logo.jpg" />
        </div>
        <div class="d-flex" style="flex-direction: column; flex:1">
            <div class="d-flex">
                <span class="brand-name" [routerLink]="['/app']">Kumnit</span>
                <button mat-button mat-icon-button [matMenuTriggerFor]="menumsg" class="cs-mat-menu-item">
                    <mat-icon>mail</mat-icon>
                </button>
                <mat-menu #menumsg="matMenu" class="cs-matmenu-content" backdropClass="cs-matmenu-backdrop">
                    <div class="mat-menu-bar" (click)="$event.stopPropagation();">
                        <h3 class="m-title">Memo</h3>
                    </div>
                    <div class="mat-menu-body">
                        <mat-list>

                        </mat-list>
                    </div>
                </mat-menu>

                <button mat-button mat-icon-button [matMenuTriggerFor]="menunoti" class="cs-mat-menu-item">
                    <mat-icon>notifications</mat-icon>
                </button>

                <mat-menu #menunoti="matMenu" class="cs-matmenu-content" backdropClass="cs-matmenu-backdrop">
                    <div class="mat-menu-bar" (click)="$event.stopPropagation();">
                        <h3 class="m-title">Notifications</h3>
                        <button mat-icon-button>
                            <mat-icon aria-label="settings">settings</mat-icon>
                        </button>
                    </div>
                    <div class="mat-menu-body">

                        <p class="text-center p-4">No Notifications</p>

                    </div>
                </mat-menu>


                <button mat-icon-button [matMenuTriggerFor]="menuuser" class="cs-mat-menu-item"
                    style="margin-right:0 !important">

                    <div class="click-avatar">
                        <img src="https://firebasestorage.googleapis.com/v0/b/puconline-c176c.appspot.com/o/avata%2Fphoto-1512904384.jpeg?alt=media&token=de1dd163-40e2-4117-8a6e-522b66f85e95"
                            alt="">
                    </div>
                </button>
                <mat-menu #menuuser="matMenu" class="cs-matmenu-content auto user-menu-content"
                    backdropClass="cs-matmenu-backdrop">
                    <div class="mat-menu-bar" (click)="$event.stopPropagation();">
                        <div class="d-flex">
                            <div class="mat-user-avatar">
                                <img src="https://firebasestorage.googleapis.com/v0/b/puconline-c176c.appspot.com/o/avata%2Fphoto-1512904384.jpeg?alt=media&token=de1dd163-40e2-4117-8a6e-522b66f85e95"
                                    alt="">
                            </div>
                            <div class="mat-user-info">
                                <h3>{{env?.user?.full_name}}</h3>
                                <p>{{env?.user?.email}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="mat-menu-body">
                        <mat-list>
                            <mat-list-item (click)="logOut()">
                                <mat-icon mat-list-icon class="app-icon black">input</mat-icon>
                                <div mat-line class="d-flex">
                                    Sign Out
                                </div>
                            </mat-list-item>

                        </mat-list>
                    </div>
                </mat-menu>
            </div>
            <!-- <div class="d-flex">
                <div class="nav-menu-wrap">
                    <a mat-button class="nav-menu-item" routerLinkActive="active" [routerLink]="['/home']">សង្ខេបបទល្មើស</a>
                    <a mat-button class="nav-menu-item" routerLinkActive="active" [routerLink]="['/crime']">បញ្ជីបទល្មើស</a>
                    <a mat-button class="nav-menu-item" routerLinkActive="active" [routerLink]="['/judgement']">បញ្ជីសាលដីកា</a>
                    <button mat-button class="nav-menu-item" routerLinkActive="active">បញ្ជីប្រជាពលរដ្ឋ</button>
                    <button mat-button class="nav-menu-item" routerLinkActive="active">ភ្នាក់ងារស៊ើបអង្កេត</button>
                    <button mat-button class="nav-menu-item" routerLinkActive="active">គ្រប់គ្រងប្រព័ន្ធ</button>
                    <button mat-button class="nav-menu-item" routerLinkActive="active">របាយការណ៍</button>
                    <button mat-button class="nav-menu-item" routerLinkActive="active">ទំនាក់ទំនង</button>
                </div>
            </div> -->
        </div>
    </div>

</nav>
