<aside class="sidebar">
  <div class="sidebar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
    <div class="brand-logo">
      <img [src]="logo" alt="PHSAR TECH">
    </div>
    <div class="sbar-brand-name">
      Kumnit
    </div>
  </div>
  <div class="sidebar-header">
    <div class="header-content">
      <div class="list-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/app/overview']">
        <div class="icon">
          <i class="material-icons">&#xE88A;</i>
        </div>
        <div class="item-name">
          Billing Overview
        </div>
      </div>
      <div class="sitting" [matMenuTriggerFor]="menusitting">
        <i class="material-icons">&#xE8B8;</i>
      </div>
      <mat-menu #menusitting="matMenu" class="cs-position flr">
        <div class="menu-content">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
  <div class="sidebar-list-wrapper">
    <mat-accordion [multi]="true">
      <mat-expansion-panel [expanded]="expansions.scholarship" (closed)="onClosed(6)" (opened)="onOpened(6)">
        <mat-expansion-panel-header expandedHeight="58px" collapsedHeight="78px"
          [class.active]="expansions?.scholarship">
          <mat-panel-title>
            Billing
          </mat-panel-title>
          <mat-panel-description *ngIf="!expansions?.scholarship">Subscribers
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="list-content">

          <div class="list-item">
            <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/subscribers']">
              <div class="icon">
                <i class="material-icons">subscriptions</i>
              </div>
              <div class="item-name">
                Subscribers
              </div>
            </div>
          </div>

          <!-- <div class="list-item">
            <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/packages']">
              <div class="icon">
                <i class="material-icons">card_giftcard</i>
              </div>
              <div class="item-name">
                Packages
              </div>
            </div>
          </div> -->

          <div class="list-item">
            <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/book-packages']">
              <div class="icon">
                <i class="material-icons">card_giftcard</i>
              </div>
              <div class="item-name">
                Book Package
              </div>
            </div>
          </div>

          <!-- <div class="list-item">
                                <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/slides']">
                                    <div class="icon">
                                        <i class="material-icons">slideshow</i>
                                    </div>
                                    <div class="item-name">
                                        Slides
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/genres']">
                                    <div class="icon">
                                        <i class="material-icons">supervised_user_circle</i>
                                    </div>
                                    <div class="item-name">
                                        Genres
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/tags']">
                                    <div class="icon">
                                        <i class="material-icons">visibility</i>
                                    </div>
                                    <div class="item-name">
                                        Tags
                                    </div>
                                </div>
                            </div> -->

        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="expansions.apo" (closed)="onClosed(3)" (opened)="onOpened(3)">
        <mat-expansion-panel-header expandedHeight="58px" collapsedHeight="78px" [class.active]="expansions?.apo">
          <mat-panel-title>
            Bookstore
          </mat-panel-title>
          <mat-panel-description *ngIf="!expansions?.apo">Store, Books, Slides, Genres and Tags
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="list-content">
          <div class="list-item">
            <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/books']">
              <div class="icon">
                <i class="material-icons">local_library</i>
              </div>
              <div class="item-name">
                Books
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/slides']">
              <div class="icon">
                <i class="material-icons">slideshow</i>
              </div>
              <div class="item-name">
                Slides
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/genres']">
              <div class="icon">
                <i class="material-icons">supervised_user_circle</i>
              </div>
              <div class="item-name">
                Category
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/about']">
              <div class="icon">
                <i class="material-icons">info</i>
              </div>
              <div class="item-name">
                About Us
              </div>
            </div>
          </div>

        </div>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel [expanded]="expansions.hr" (closed)="onClosed(7)" (opened)="onOpened(7)">
                <mat-expansion-panel-header expandedHeight="58px" collapsedHeight="78px"
                    [class.active]="expansions?.hr">
                    <mat-panel-title>
                        Reports
                    </mat-panel-title>
                    <mat-panel-description *ngIf="!expansions?.hr">Store, Books, Slides, Genres and Tags
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="list-content">
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/store']">
                            <div class="icon">
                                <i class="material-icons">shopping_basket</i>
                            </div>
                            <div class="item-name">
                                App
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/books']">
                            <div class="icon">
                                <i class="material-icons">local_library</i>
                            </div>
                            <div class="item-name">
                                Books
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/slides']">
                            <div class="icon">
                                <i class="material-icons">slideshow</i>
                            </div>
                            <div class="item-name">
                                Slides
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/genres']">
                            <div class="icon">
                                <i class="material-icons">supervised_user_circle</i>
                            </div>
                            <div class="item-name">
                                Genres
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-row" routerLinkActive="active" [routerLink]="['/app/tags']">
                            <div class="icon">
                                <i class="material-icons">visibility</i>
                            </div>
                            <div class="item-name">
                                Tags
                            </div>
                        </div>
                    </div>

                </div>
            </mat-expansion-panel>
             -->
    </mat-accordion>
  </div>
  <div class="sidebar-footer">
    <div class="sidebar-toggle-button" (click)="togglesidebar()">
      <div class="arrow-icon"></div>
    </div>
  </div>
</aside>
