.scroll-tab {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
  white-space: nowrap;
}
::ng-deep .mat-tab-header {
  overflow-x: scroll !important;
}

::ng-deep .mat-tab-label-container {
  overflow: visible !important;
}

::ng-deep .mat-tab-header::-webkit-scrollbar {
  // TO Remove horizontal scrollbar in tabs
  display: none;
}

.select {
  width: 200px;
  margin:0 24px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
