<!-- <div *mobxAutorun>
    <div class="action-bar">
        <div class="en-container full">
            <div class="action-bar-content">
                <div class="featurebar-title">Overview</div>
                <div class="fbox"></div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="p-view-wrapper overview">
            <div class="p-view-top">
                <div class="p-view-img">
                    <div class="container">
                        <h3 class="p-title">
                            Welcome to PUC Cloud!
                        </h3>
                        <div class="p-subtitle">
                            Get started here.
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="p-menu-list-wrapper p-menu-smalllist-wrapper">
                                <div class="p-menu-list-item" (click)="create(0)">
                                    <div class="p-menu-icon">
                                        <i class="material-icons">redeem</i>
                                    </div>
                                    <div class="p-menu-name">
                                        Add General Scholarship
                                    </div>
                                </div>

                                <div class="p-menu-list-item" (click)="create(1)">
                                    <div class="p-menu-icon">
                                        <i class="material-icons">local_atm</i>
                                    </div>
                                    <div class="p-menu-name">
                                        Add Scholarship by Loan
                                    </div>
                                </div>

                                <div class="p-menu-list-item" (click)="sibling()">
                                    <div class="p-menu-icon">
                                        <i class="material-icons">supervised_user_circle</i>
                                    </div>
                                    <div class="p-menu-name">
                                        Add Scholarship of Sibling
                                    </div>
                                </div>


                            </div>
                            <div class="total-sc">
                                <h3 class="ti">Total Scholarship</h3>
                                <strong class="num">
                              450
                            </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-view-body">

            </div>
        </div>

        <div class="container">
            <div class="statistic-box-wrapper">
                <div class="statistic-box-item">
                    <mat-card class="statistic-box-item-content">
                        <mat-card-content>
                            <h2 class="">General Scholarship</h2>
                            <div class="pie-chart-parent">
                              <ngx-charts-line-chart
                              [scheme]="colorScheme"
                              [results]="multi"
                              [gradient]="gradient"
                              [xAxis]="showXAxis"
                              [yAxis]="showYAxis"
                              [legend]="showLegend"
                              [showXAxisLabel]="showXAxisLabel"
                              [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="xAxisLabel"
                              [yAxisLabel]="yAxisLabel"
                              [autoScale]="autoScale"
                              (select)="onSelect($event)">
                            </ngx-charts-line-chart>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="statistic-box-item">
                    <mat-card class="statistic-box-item-content">
                        <mat-card-content>
                            <h2 class="">Scholarship by Loan</h2>
                            <div class="pie-chart-parent">
                                <ngx-charts-bar-vertical [showDataLabel]="showDataLabel" [legendTitle]="legendTitle" [legend]="legend" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                                </ngx-charts-bar-vertical>
                            </div>
                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="statistic-box-item w100">
                    <mat-card class="statistic-box-item-content">
                        <mat-card-content>
                            <h2 class="">Scholarship of Sibling</h2>
                            <div class="pie-chart-parent">
                                <ngx-charts-bar-vertical [showDataLabel]="showDataLabel" [legendTitle]="legendTitle" [legend]="legend" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                                </ngx-charts-bar-vertical>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

        </div>
    </div>
    <app-net-info></app-net-info>
</div> -->
