<div class="empty-block">
    <div class="center-block-empty">
        <div class="empty-img full-img">
            <img [src]="'../../../assets/images/noSelection.svg'" alt="name">
        </div>
        <div class="empty-text">
            <p class="empty-state-title">{{name}}</p>
            <p class="empty-state-desc">{{subtitle}}</p>
            <button mat-button [disabled]="disabled" class="add-button" *ngIf="buttonText" (click)="create()">{{buttonText}}</button>
        </div>
    </div>
  </div>