.toggled-sidebar {
    #header {
        padding-left: $sidebarwidth;
    }
}

#header {
    min-height: 48px;
    background-color: $header;
    // background-color: $headerbcolor;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-left: 68px;
    transition: padding-left .3s;
    z-index: 111;
}

.top-nav {
    display: block;
    align-items: center;
    position: relative;
    width: 100%;
}

.nav-content {
    display: flex;
    align-items: center;
    padding: 13px 16px;
    min-height: 40px;
}

.camp {
    min-width: 280px;
}

.left-nav {
    display: inline-flex;
    align-items: center;
    background: transparent;
    .mat-form-field-infix {
        border: none;
    }
    .mat-form-field-wrapper {
        padding: 0;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-select-value-text {
        color: #fafafa;
        text-transform: capitalize;
    }
    .mat-select-arrow {
        color: #fafafa;
    }
    .mat-option-text {
        text-transform: capitalize;
    }
}


.campus-select {
    .mat-select {
        background-color: #0288d1;
        border: 1px solid #0288d1;
    }
    button {
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        padding: 4px 8px;
        border: none;
        color: #fff;
        cursor: pointer;
        border-radius: 100px;
        i {
            color: rgba(255, 255, 255, 0.7);
        }
        .name {
            margin: 0 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            span {
                // height: 18px;
                padding: 4px 6px;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.25);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-left: 8px;
                font-size: 12px;
                line-height: 12px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}

.csmat-menu-item {
    &.active {
        background-color: rgba(0, 0, 0, 0.12);
    }
}

.select-action-wrapper {
    display: block;
    margin-bottom: 16px;
    .select-action-item {
        padding: 0 16px;
        font-size: inherit;
        line-height: 3em;
        height: 3em;
        cursor: pointer;
    }
}

.mat-divider {
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0;
    border-top-color: rgba(0, 0, 0, 0.12);
}

.right-nav {
    display: inline-flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
}

.nav-item-list {
    display: inline-flex;
    align-items: center;
    .nav-item {
        padding: 0 15px;
    }
    .nav-item-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        .mat-icon {
            color: #fff;
            font-size: 30px;
        }
        .icon {
            color: #333;
            padding: 2px;
            background-color: #fff;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            i {
                font-size: 18px;
            }
            &.nobg {
                background-color: transparent;
                padding: 0;
                color: #fff;
                i {
                    font-size: 26px;
                }
            }
        }
        .avatar {
            border-radius: 50%;
            width: 38px;
            height: 38px;
            overflow: hidden;
        }
        img {
            width: 100%;
        }
    }
}

.head-title {
    color: #fff;
}
.action-item{
    .enbutton{
        &.mat-button{
            span{
                padding:  0 8px;
            }
        }
    }
}