.divanscript-wrapper {
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 24px;
    font-family: 'Google Sans', sans-serif;
    font-size: 15px;
    color: #111;
    .tsc-header {}
    .tsc-body {
        width: 100%;
        position: relative;
    }
    .tsc-table {
        width: 100%;
        position: relative;
        // display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        // font-family: 'Times New Roman', Times, serif;
    }
    .tsc-table-row-heading {
        .tsc-col {
            border-bottom: 1px solid #ccc;
        }
    }
    .tsc-table-row {
        // display: flex;
        width: 100%;
        &.has-bt {
            border-top: 1px solid #ccc;
        }
        &.no-bb {
            .tsc-col {
                border-bottom: 0px;
            }
        }
        &.no-bdc {
            .tsc-col {
                border: 0px;
            }
        }
        &:last-child {
            .tsc-col {
                // border-bottom: 0px solid #ccc;
            }
        }
    }
    .tsc-table-row-break {
        &:last-child {
            .tsc-col {
                border-bottom: 1px solid #ccc;
            }
        }
    }
    .tsc-col {
        // display: inline-flex;
        flex: 1;
        padding: 2px 8px; // border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        &:last-child {
            border-right: 0px solid #ccc;
        }
        &.title {
            flex: none;
            width: 300px;
        }
        &.min-max-name{
            min-width: 500px;
            max-width: 500px;
        }
    }
    .mt-col {
        margin-bottom: -4px;
        margin-left: -8px;
        margin-right: -8px;
        border-top: 1px solid #ccc;
        strong {
            padding: 4px 8px;
            text-align: center;
            width: 50%;
            flex: none;
            &:first-child {
                border-right: 1px solid #ccc;
            }
        }
    }
    .t-hours {
        padding-bottom: 4px;
        display: flex;
        justify-content: center;
    }
    .tsc-table-header {
        width: 100%;
        border: 1px solid #ccc;
        border-bottom: 0px solid #ccc;
        // font-family: 'Times New Roman', Times, serif;
        tr {
            &:last-child {
                td {
                    border-bottom: 0px solid #ccc;
                }
            }
            td {
                padding: 4px 8px;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                &:last-child {
                    border-right: 0px solid #ccc;
                }
            }
            .no-bright {
                border-right: none;
            }
        }
    }
    .tb-flex {
        display: flex;
        flex-wrap: wrap;
        >div {
            flex: 1;
        }
    }
}

.filter-tsc-form {
    padding-top: 18px;
    flex: 1;
    position: relative;
    .error-message {
        position: absolute;
        background: #f44336;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    .mat-form-field {
        width: 100%;
    }
    input {
        width: 100%;
        background: rgba(0, 0, 0, .1);
        border: none;
        outline: none;
        min-height: 44px;
        padding: 0 16px;
        border-radius: 4px;
        color: #fff;
        @include placeholder-color(#fff);
    }
}

.tsc-list-items {
    padding: 18px;
    display: flex;
    flex-direction: column;
    .mat-raised-button {
        color: #333 !important;
    }
}

.tsc-top-header {
    display: flex;
    padding: 24px;
    justify-content: center;
    .abs-block {
        position: absolute;
        left: 44px;
    }
    .logo-block {
        width: 148px !important;
        height: unset !important;
        overflow: hidden;
        padding: 6px;
        img {
            width: 100%;
        }
    }
    .en-title {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        // font-family: 'Times New Roman', Times, serif;
    }
    .kh-title {
        font-family: 'Moul', cursive;
        font-size: 24px;
        margin-bottom: 14px;
        line-height: 50px;
    }
    .otosr {
        margin-top: 56px;
        font-weight: 600;
        font-size: 22px;
        // font-family: 'Times New Roman', Times, serif;
    }
    .addr {
        margin: 0;
        font-size: 16px;
        color: #000;
        // font-family: 'Times New Roman', Times, serif;
    }
    .off-title {
        // font-family: 'Times New Roman', Times, serif;
    }
}

.ts-ms {
    text-align: center;
    background: #4fc3d6;
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 48px;
    color: #fff;
    font-size: 18px;
    margin-top: 32px;
}

.tsc-top-bar {
    background-color: #039be5;
    padding-bottom: 32px;
    position: sticky;
    top: 58px;
    z-index: 2;
}

.tsc-print-btn {
    position: fixed !important;
    bottom: 33px;
    right: 33px;
    z-index: 2;
}